body {
	font-family: monospace;
}

header {
	text-align: center;
}

header h1 {
	margin: 0.5rem;
	display: inline;
}

button {
  margin: 0.2rem 0.2rem;
	border-radius: 5px;
	border-width: 1px;
	padding: 0.3rem;
	font-family: monospace;
}
#jsavcontainer {
  height: max-content;
  border: khaki 2px solid;
  margin-top: 10px;
  padding-top: 10px;
}

.jsavvaluelabel {
  font-size: xx-small !important;
}

.jsavautoresize .jsavnode {
  min-width: 30px !important;
  background-color: transparent;
}

.jsavline {
  height: 38px;
}

.jsavcanvas {
  min-width: 200px !important;
  margin: 5px;
}

.jsavcanvas svg, .jsavedgelabel {
  z-index: 1;
}

.jsavcanvas > svg {
  display: none;
}

.jsavcanvas > svg text {
  display: block;
}

.jsavcanvas > svg rect {
  display: block;
}

.selected {
  background-color: yellow !important;
}

.view-control {
	display: flex;
	justify-content: center;
}

.speed-control label {
	margin-right: 5px;
}

.speed-control input {
	width: 50%;
}

.view-control .auto-animation,
.view-control .speed-control,
.view-control .slide-show {
	margin: auto 0.5rem;
}

.views-container {
  display: flex;
  justify-content: center;
}

.import-export, .final-grade, .jsavoutput, .player-controls, .view-control,
.model-answer, .joint-controls, .detailed-view {
  text-align: center;
  margin: 0.3rem;
}
.jsavoutput .jsavtitle {
  margin: 5px;
}
.jsavtitle {
  margin-bottom: 10px !important;
  font-size: xx-large !important;
}
.instructions-div {
  margin: 2px 20%;
  background-color: lightblue;
  padding: 1px 10px;
  border-radius: 5px;
}

.animation-view, .model-answer-view {
  width: 600px;
  border: solid 1px rgb(118,118,118);
	border-radius: 10px;
	border-style: dashed;
  margin: 2px;
  padding: 2px;
}

.jsavtree, .jsavcommontree, .jsavautoresize, .jsavbinarytree {
  left: 0px !important;
  margin: auto;
}

.speed-control {
  display: flex;
  justify-content: center;
}

.heading-container {
	text-align: center;
}

.heading-container h2 {
	margin: 0.5rem 1rem;
	display: inline;
}

#model-answer path {
display: none;
}

.selected {
  background: #9d9d9d;
}

.no-data {
  text-align: center;
	color: red;
}

.model-answer {
  min-height: 350px;
}

#animation-container, #model-answer-container {
  overflow: scroll;
}
